version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: couple
      POSTGRES_PASSWORD: couplepass
      POSTGRES_DB: coupledb
    ports:
      - "5434:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
