fastapi
uvicorn[standard]
sqlalchemy==1.4.49
psycopg2-binary
python-jose
passlib[bcrypt]
pydantic[email]
pydantic_settings
python-dotenv
alembic
bcrypt==3.2.0
pytest
httpx
pytest
python-multipart
requests
google-auth
google-auth-oauthlib
google-cloud-storage
pydub
boto3
redis






